/secrets.nix                   filter=crypt diff=crypt
/secrets/**                    filter=crypt diff=crypt
/machines/**/secrets.nix       filter=crypt diff=crypt
/machines/**/secrets/**        filter=crypt diff=crypt
